/*defindo largura do section e a posiçao*/
/*
section {
    border: 1px solid #000;
    height: 100px;
    margin: 40px auto;
    width: 400px;
}

h1 {
    background-color: #990000;
    color: #fff;
    font-size: 1.2em;
    left: -10px;
    padding: 5px 0;
    position: relative;
    text-align: center;
    width: 420px;
}


h1::before {
    border-color: transparent #7c0000 #7c0000 transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    left: 0;
    position: absolute;
    top: -10px;
}


h1::after {
    border-color: transparent transparent #7c0000 #7c0000;
    border-style: solid;
    border-width: 5px;
    content: "";
    position: absolute;
    right: 0;
    top: -10px;
}

.help {
    border-color: #f1efe6;
    border: 1px solid #d3daed;
    font-size: 0.9em;
    padding: 10px;
    position: relative;
    width: 300px;
}
.help {
    box-shadow: 3px 3px 3px #aaa;
}


input {
    border: 1px solid #999;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25) inset;
    padding: 2px 5px;
}

input:focus{
    border-color: #35861b;
    box-shadow: 0 0 5px #35861b, 2px 2px rgba(0, 0, 0, 0.5) inset;
    outline: none;
}


.help::before {
    border-color: transparent #d3daed transparent transparent;
    border-style: solid;
    border-width: 14px;
    content: "";
    left: -28px;
    margin-top: -14px;
    position: absolute;
    top: 50%;
}

.tip::before {
    content: "\261E";
    margin: right 10px;
}

q {
    color: #444;
    font-style: italic;
}

q::before, q::after {
    color: #000;
    font-size: 3em;
}

q::before {
    content:"\201C";
}

q::after {
    content: "\201D";
}

@media print {
    
    *{
        background: transparent !important;
        border-color: #000 !important;
        box-shadow: none !important;
        color: #000 !important;
        text-shadow: none !important;
        
    }
}


table{
    width: 500px;
}

td {
    border: 1px dotted #666;
    padding: 5px;
}


td a {
    color:  #3b5998;
}


.expense, .profit, .actions {
     text-align: right;
}

.expense { color: red;}
.profit { color: green;}


.actions a {
    font-size: 0.9m;
    color: white;
    padding: 2px 5px;
    background-color: #3b5998;
    text-decoration: none;
}

@media print {
    * {
        color: #000 !important;
    }

    table {
        width: 100%;
    }

    td {
        border-color: #000;
    }

    a::after {
        content: "(" attr(href) ")";
        margin-left: 2px;
    }

    actions {
        display: none;
    }
}


.expense::before {
    content: "- ";
}

.expense::after {
    content: "- Despesa";
}

.profit::before {
    content: "+ ";
}

.profit::after {
    content: " - Receita"
}


h1 {
    font-family: 'Press Start 2P', cursive;
}



@font-face {
    font-family: IconicFill;
    src: url('iconic_fill.woff') format('woff');
    font-weight: normal;
    font-size: normal;
}

.icon-next::after {
    content: '\2192';
    font-family: 'IconicFill';
    margin-left: 10px;
}

h2.icon-next {
    color: blue;
}


.tnt {
    border-radius: 50%;
    border: 5px solid #000;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}


.counter {
    background-color: #000;
    border-top-left-radius: 25px 10px;
    border-top-right-radius: 25px 10px;
    color: white;
    display: block;
    font-size: 1.7em;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}


div {
    background-color: #000;
    width: 50px;
    height: 10px;
    padding: 20px 50px;
}

.cloud {
    background-color: #fff;
    border-radius: 48px;
    display: inline-block;
    height: 16px;
    position: relative;
    width: 48px;
}

.cloud::before {
    background-color: red;
    border-radius: 50%;
    content: '';
    height: 14px;
    position: absolute;
    right: 7px;
    top: -6px;
    width: 14px;

}
*/
/*

.cloud::before, .cloud::after {
    background-color: white;
    border-radius: 50%;
    content: '';
    height: 14px;
    position: absolute;
    right: 7px;
    top: -6px;
    width: 14px;
}

.cloud::after {
    background-color: white;
    height: 23px;
    left: 7px;
    right: auto;
    top: -10px;
    width: 23px;
}


figure {
    position: relative;
}

img {
    display: block;
}


figcaption {
    bottom: 5px;
    margin: 0 5px;
    padding: 5px;
    position: absolute;
    width: 300px;
}


figcaption {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0, 5);
    color: #fff;
}

ul {
    height: 35px;
    list-style: none;
    padding: 0;
    width: 210px;
}

li {
    float: left;
    line-height: 35px;
    font-size: 0.9em;
    width: 50px;
    text-align: center;
}

ul {
    background-color: rgb(173, 169, 169);
    color: white;
}


ul {
    border:  1px solid rgba(0, 0, 0, 0.3);
}


li {
    border-left:  1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

li:first-child {
    border-left: none;
}

li:last-child {
    border-right: none;
}





.nav {
    background-color: #b9522d;
    height: 40px;
    list-style: none;
    padding: 0;
    width: 220px;
}

.nav li{
    float: left;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 70px;
}

.nav a {
    color: white;
}

.nav .current {
    background-color: #a64a28;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}


h1 {
    background-color: #1d9ac0;
    color: #fff;
    padding: 10px;
    text-shadow: 2px 4px 2px tgba(0, 0, 0,0.3);
}
*/

/* textos de estado utilziando text-shadow*/
/* 
.status {
    display: inline-block;
    font-weight: bold;
    font-weight: bold;
    padding: 7px 10px;
}

.failed {
    background-color: #bd2c00;
}

.shipped {
    background-color: #6cc644;
}

.processing {
    background-color: #fc9800;
}

h1 {
    color: #bd2c00;
    font-size: 1.2em;
    margin: 0;
}

h2 {
    font-size: 1.2em;
    margin: 5px 0;

 }

 .available {
     background-color: #6cc644;
     border-radius: 3px;
     color: white;
     font-size: 0.8em;
     font-weight: bold;
     padding: 3px 7px;
     text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
 }

 .clear { 
    clear: both;
}
 ul {
     background-color: #56b4ef;
     background-image: linear-gradient(top, #56b4ef, #148eda);
     float: left;
     list-style: none;
     margin: 10px 10px 0 0;
     padding: 0;
     width: 230px;
 }

 @font-face {
     font-family: 'IconicFill';
     src: url('iconic_fill.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }

 .icon::before {
     font-family: 'IconicFill';
     margin: 0px 5px;
 }

 .paper::before {
     content: "\e044";
 }

 .digital::before {
     content: "\e00b";
 }

 .package::before {
     content: "\e022"
 }

 .icon {
     color: #fff;
     display: block;
     font-size: 0.9em;
     font-weight: bold;
     padding: 5px;
     text-decoration: none;
     text-shadow: 0 1px 0 rgba(0, 0, 0, 0.9);
 }
*/
 /* criando as bordas entre os links*/
/*
 .icon {
     border-bottom: 1px solid rgba(0, 0, 0, 0.3);
     border-top: 1px solid rgba(255, 255, 255, 0.3);
 }

 .icon.paper {
     border-top: none;
 }

 .icon.package {
     border-bottom: none;
 }

 ul {
     border-radius: 5px;
     border: 1px solid rgba(0, 0, 0, 0.3);
 }

 .icon:hover {
     background-color: rgba(0, 0, 0, 0.1);
 }

 .book {
     background-color: #fafafa;
     background-image: linear-gradient(#fafafa, #eee);
     border-radius: 5px;
     border: 10px;
     padding: 10px;
     width: 600px;
 }
 
*/

img {
 float: left;
 margin-right: 10px;
}

.posts {
    width: 600px;
}

h1 {
    float: left;
    margin: 0 0 20px;
}

.timestamp {
    background-color: #000;
    color: #fff;
    float: right;
    font-size: 0.9em;
    margin-top: 10px;
    padding: 5px 10px;
}

p {
    clear: both;
}

.posts {
    float: left;
    width: 600px;
}

aside {
    background-color: #fffbe4;
    border: 1px solid #c9bc8f;
    float: right;
    padding: 10px;
    width: 200px;
}

aside h3 {
    margin: 0;
}

.page {
    padding: 10px;
    margin: 0 auto;
    width: 940px;
}
.page {
    background-color: #e8e8e8;
}